.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-img{
    background: transparent;
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
}




.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    margin-bottom: 1rem;
}

.portfolio__item-live{
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    color: white;
}

.portfolio__btns{
    display: flex;
    gap: 1em;
}

.portfolio__item-desc{

    position: absolute;
    /* z-index: -1; */
    padding: 8% 5%;
}

.portfolio__item-desc p{
    font-size: 1vw;
}


@media screen and (max-width: 1024px){
    .portfolio__container{
        grid-template-columns: repeat(2,1fr);
        gap: 1.2rem;
    }

    .portfolio__item-desc p{
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 80%;
    }

    .portfolio__item-desc p{
        font-size: 3vw;
    }
    
}

