.skills__container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2.5rem;
}

.skills__item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 10rem;
}

.skills__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.skills__item-img{
    background: whitesmoke;
    position: relative;
    overflow: hidden;
    transition: var(--transition);
}




.skills__item h3{
    margin: 0.5rem 0 0.5rem;
}




@media screen and (max-width: 1024px){
    .skills__container{
        grid-template-columns: repeat(2,1fr);
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px){
    .skills__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 80%;
    }
    
}